@charset "UTF-8";
/* ------------ Обнуляющие стили ------------ */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  color: #161616;
  background-color: #f5fafe;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: "Lato Regular";
}

input,
textarea {
  font-family: "Lato Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* --------------- Подключение шрифтов --------------- */
@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ------------- Стили для секции Header ------------- */
.contaiter {
  max-width: 1170px;
  margin: 0 auto;
}

.header-wrapper {
  padding: 22px 0px 22px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper__logo {
  max-width: 197px;
  min-height: 56.79px;
  margin: 0px 55px 0px 0px;
}

.header-wrapper__logo-image {
  width: 197px;
  height: 56.79px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper__item {
  margin: 0px 0px 0px 41px;
}

.header-wrapper__navigation {
  margin: 0px 134px 0px 0px;
}

.header-wrapper__item-link {
  font-family: "Lato Regular";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #161616;
}

.header-wrapper__enter {
  max-width: 76px;
  min-height: 24px;
}

.header-wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0px 0px 0px;
}

.header-wrapper__button-image {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px 7px 0px 0px;
}

.header-wrapper__button-link {
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4277ff;
}

.menu-burger {
  display: none;
}

/* ------------- Стили для секции mainbg ------------- */
.mainbg {
  background-image: url("../image/optimized/bg_main.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 750px;
  position: relative;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.mainbg-title {
  max-width: 370px;
  min-height: 162px;
  padding: 215px 0px 0px 0px;
}

.mainbg-title__text {
  display: block;
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  color: #fff;
}

.mainbg-title__text:nth-child(2) {
  margin: 0px 0px 0px 70px;
}

.mainbg-title__text:nth-child(3) {
  margin: 0px 0px 0px 150px;
}

.mainbg-subtitle {
  max-width: 880px;
  margin: 30px 0px 0px 0px;
}

.mainbg-subtitle__text {
  font-family: "Lato Light";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.mainbg-button {
  margin: 32px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainbg-button__button {
  max-width: 215px;
  min-height: 50px;
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 16px;
  line-height: 134.77%;
  text-align: center;
  color: #161616;
  padding: 14px 29px 14px 32px;
}

.mainbg-button__image {
  margin: 4px 0px 0px 13px;
}

/* ------------- Стили для блока invest ------------- */
.invest {
  padding: 100px 0px 100px 0px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.invest-title {
  font-family: "Lato Regular";
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #161616;
  margin: 0px 0px 50px 0px;
}

.invest-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.invest-wrapper__one {
  padding: 53px 0px 53px 0px;
  width: 370px;
  min-height: 230px;
  background: #4277ff;
  -webkit-box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
          box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
  border-radius: 20px;
  margin: 0px 30px 0px 0px;
  box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
}

.invest-wrapper__one-title {
  font-family: "Lato Regular";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 24px 0px;
}

.invest-wrapper__one-button {
  margin: 0px 0px 0px 63px;
  padding: 0px 35.5px 0px 35.5px;
  max-width: 244px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 20px;
  font-family: "Lato Regular";
  font-weight: 600;
  font-size: 14px;
  line-height: 134.77%;
  text-align: center;
  color: #161616;
}

.invest-wrapper__two {
  padding: 53px 0px 53px 0px;
  width: 370px;
  min-height: 230px;
  background: #fe7d34;
  -webkit-box-shadow: 0px 4px 30px rgba(254, 125, 52, 0.2);
          box-shadow: 0px 4px 30px rgba(254, 125, 52, 0.2);
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
          box-shadow: 0px 4px 30px rgba(43, 90, 220, 0.2);
}

.invest-wrapper__two-title {
  font-family: "Lato Regular";
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 24px 0px;
}

.invest-wrapper__two-button {
  margin: 0px 0px 0px 45px;
  padding: 0px 38px 0px 35px;
  max-width: 280px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 20px;
  font-family: "Lato Regular";
  font-weight: 600;
  font-size: 14px;
  line-height: 134.77%;
  text-align: center;
  color: #161616;
}

/* ------------- Медиа-запросы ------------- */
@media (min-width: 992px) and (max-width: 1199.9px) {
  .header-wrapper {
    margin: 0px 15px 0px 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-wrapper__item {
    margin: 0px 0px 0px 25px;
  }
  .header-wrapper__navigation {
    margin: 0px 40px 0px 0px;
  }
  .header-wrapper__logo {
    margin: 0px 25px 0px 0px;
  }
  .mainbg {
    padding: 0px 15px 0px 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .mainbg {
    padding: 0px 15px 0px 15px;
    max-width: 100%;
    min-height: 600px;
  }
  .mainbg-title {
    max-width: 370px;
    min-height: 162px;
    padding: 130px 0px 0px 0px;
  }
  .mainbg-title__text {
    display: block;
    font-family: "Lato Regular";
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .mainbg-title__text:nth-child(2) {
    margin: 0px 0px 0px 60px;
  }
  .mainbg-title__text:nth-child(3) {
    margin: 0px 0px 0px 140px;
  }
  .mainbg-subtitle {
    max-width: 780px;
    margin: 30px 0px 0px 0px;
  }
  .mainbg-subtitle__text {
    font-size: 16px;
    line-height: 20px;
  }
  .invest-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .invest-wrapper__one {
    margin: 0px 0px 25px 0px;
  }
}

@media (min-width: 480px) and (max-width: 767.9px) {
  .mainbg {
    padding: 0px 15px 0px 15px;
    max-width: 100%;
    min-height: 550px;
  }
  .mainbg-title {
    max-width: 370px;
    min-height: 162px;
    padding: 100px 0px 0px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .mainbg-title__text {
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .mainbg-title__text:nth-child(2) {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-title__text:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-subtitle {
    max-width: 700px;
    margin: 20px 0px 0px 0px;
  }
  .mainbg-subtitle__text {
    font-size: 16px;
    line-height: 20px;
  }
  .mainbg-button {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-button__button {
    margin: 30px auto;
  }
  .invest-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .invest-wrapper__one {
    margin: 0px 0px 25px 0px;
  }
}

@media (min-width: 319.9px) and (max-width: 479.9px) {
  .mainbg {
    padding: 0px 15px 0px 15px;
    max-width: 100%;
    min-height: 480px;
  }
  .mainbg-title {
    max-width: 370px;
    min-height: 162px;
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .mainbg-title__text {
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
  }
  .mainbg-title__text:nth-child(2) {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-title__text:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-subtitle {
    max-width: 700px;
    margin: 20px 0px 0px 0px;
  }
  .mainbg-subtitle__text {
    font-size: 16px;
    line-height: 20px;
  }
  .mainbg-button {
    margin: 0px 0px 0px 0px;
  }
  .mainbg-button__button {
    margin: 30px auto;
  }
  .invest-title {
    font-size: 30px;
  }
  .invest-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .invest-wrapper__one {
    margin: 0px 0px 25px 0px;
    width: 300px;
    min-height: 180px;
  }
  .invest-wrapper__one-title {
    font-size: 20px;
  }
  .invest-wrapper__one-button {
    max-width: 200px;
    min-height: 40px;
    padding: 0px 25px 0px 25px;
    margin: 0px 0px 0px 48px;
    font-size: 12px;
  }
  .invest-wrapper__two {
    padding: 53px 0px 53px 0px;
    width: 300px;
    min-height: 180px;
  }
  .invest-wrapper__two-title {
    font-size: 20px;
  }
  .invest-wrapper__two-button {
    max-width: 220px;
    min-height: 40px;
    font-size: 12px;
    margin: 0px 0px 0px 45px;
    padding: 0px 20px 0px 20px;
  }
}

@media (min-width: 319.9px) and (max-width: 991.9px) {
  .header-wrapper {
    margin: 0px 0px 0px 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-wrapper__navigation {
    display: none;
  }
  .header-wrapper__enter {
    display: none;
  }
  .menu-burger {
    display: block;
    position: relative;
    right: 20px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #161616;
    cursor: pointer;
  }
  .menu-burger__item {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 30px;
    height: 2px;
  }
  .menu-burger__item::before {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: -10px;
    width: 30px;
    height: 2px;
  }
  .menu-burger__item::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 10px;
    width: 30px;
    height: 2px;
  }
  .menu-burger__active {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu-burger__active__item {
    background-color: transparent;
  }
  .menu-burger__active__item::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-burger__active__item::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
