@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  color: #161616;
  background-color: #f5fafe;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  font-family: "Lato Regular";
}

input,
textarea {
  font-family: "Lato Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/* --------------- Подключение шрифтов --------------- */
@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ------------- Стили для секции Header ------------- */
.contaiter {
  max-width: 1170px;
  margin: 0 auto;
}

.header-wrapper {
  padding: 22px 0px 22px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper__logo {
  max-width: 197px;
  min-height: 56.79px;
}

.header-wrapper__logo-image {
  width: 197px;
  height: 56.79px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper__item {
  margin: 0px 10px 0px 10px;
}

.header-wrapper__item-link {
  font-family: "Lato Regular";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #161616;
}

.header-wrapper__enter {
  max-width: 76px;
  min-height: 24px;
}

.header-wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper__button-image {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px 5px 0px 0px;
}

.header-wrapper__button-link {
  font-family: "Lato Regular";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4277ff;
}

.menu-burger {
  display: none;
}

/* ------------- Медиа-запросы для секции Header ------------- */
@media (min-width: 992px) and (max-width: 1199.9px) {
  .header-wrapper {
    margin: 0px 12px 0px 12px;
  }
}

@media (min-width: 319.9px) and (max-width: 991.9px) {
  .header-wrapper {
    margin: 0px 0px 0px 12px;
  }
  .header-wrapper__navigation {
    display: none;
  }
  .header-wrapper__enter {
    display: none;
  }
  .menu-burger {
    display: block;
    position: relative;
    right: 40px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #161616;
    cursor: pointer;
  }
  .menu-burger__item {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 30px;
    height: 2px;
  }
  .menu-burger__item::before {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: -10px;
    width: 30px;
    height: 2px;
  }
  .menu-burger__item::after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 10px;
    width: 30px;
    height: 2px;
  }
  .menu-burger__active {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .menu-burger__active__item {
    background-color: transparent;
  }
  .menu-burger__active__item::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-burger__active__item::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
