/* ------------- Стили для секции mainbg ------------- */
.mainbg {
     background-image: url("../image/optimized/bg_main.webp"), url("../image/bg_main-optimized.jpg"); //jpg - оптимизированный jpg для safari, webp - для всех остальных браузеров
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
     max-width: 100%;
     min-height: 750px;
     position: relative;
     padding: 0px 0px 40px 0px;
}
.container {
     max-width: $widthdefault;
     margin: 0 auto;
}
.mainbg-title {
     max-width: 370px;
     min-height: 162px;
     padding: 215px 0px 0px 0px;
     &__text {
          display: block;
          font-family: $fontfamily;
          font-weight: 700;
          font-size: 48px;
          line-height: 53px;
          color: #fff;
     }
     &__text:nth-child(2) {
          margin: 0px 0px 0px 70px;
     }
     &__text:nth-child(3) {
          margin: 0px 0px 0px 150px;
     }
}
.mainbg-subtitle {
     max-width: 880px;
     margin: 30px 0px 0px 0px;
     &__text {
          font-family: "Lato Light";
          font-size: 18px;
          line-height: 24px;
          color: #fff;
     }
}
.mainbg-button {
     margin: 32px 0px 0px 0px;
     display: flex;
     justify-content: start;
     align-items: center;
     &__button {
          max-width: 215px;
          min-height: 50px;
          cursor: pointer;
          background: #ffffff;
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
          border-radius: 25px;
          font-family: $fontfamily;
          font-weight: 700;
          font-size: 16px;
          line-height: 134.77%;
          text-align: center;
          color: $colorfontdefault;
          padding: 14px 29px 14px 32px;
     }
     &__image {
          margin: 4px 0px 0px 13px;
     }
}
