/* ------------- Стили для секции Header ------------- */
.contaiter {
     max-width: $widthdefault;
     margin: 0 auto;
}
.header-wrapper {
     padding: 22px 0px 22px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     &__logo {
          max-width: 197px;
          min-height: 56.79px;
          margin: 0px 55px 0px 0px;
     }

     &__logo-image {
          width: 197px;
          height: 56.79px;
          object-fit: cover;
     }

     &__list {
          display: flex;
     }

     &__item {
          margin: 0px 0px 0px 41px;
     }

     &__navigation {
          margin: 0px 134px 0px 0px;
     }

     &__item-link {
          font-family: $fontfamily;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $colorfontdefault;
     }

     &__enter {
          max-width: 76px;
          min-height: 24px;
     }

     &__button {
          display: flex;
          align-items: center;
          margin: 2px 0px 0px 0px;
     }

     &__button-image {
          width: 18px;
          height: 18px;
          object-fit: cover;
          margin: 0px 7px 0px 0px;
     }

     &__button-link {
          font-family: $fontfamily;
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          color: #4277ff;
     }
}

.menu-burger {
     display: none;
}
