/* ------------- Медиа-запросы ------------- */
@media (min-width: 992px) and (max-width: 1199.9px) {
     .header-wrapper {
          margin: 0px 15px 0px 15px;
          justify-content: space-between;
          &__item {
               margin: 0px 0px 0px 23px;
          }

          &__navigation {
               margin: 0px 38px 0px 0px;
          }
          &__logo {
               margin: 0px 23px 0px 0px;
          }
     }
     .mainbg {
          padding: 0px 15px 0px 15px;
     }
     .characters-wrapper {
          margin: 0px 15px 0px 15px;
          flex-direction: column;
          align-items: center;
     }
     .characters-title {
          margin: 0px 0px 20px 0px;
     }
     .characters-leftside {
          margin: 0px 0px 0px 0px;
          &__item1 {
               margin: 30px 0px 25px 0px;
          }
          &__item2 {
               margin: 0px 0px 100px 0px;
          }
          &__item1-title {
               margin: 0px 0px 10px 17px;
          }
          &__item2-title {
               margin: 0px 0px 10px 17px;
          }
     }
     .technologies-wrapper {
          flex-direction: column;
          align-items: center;
     }

     .technologies-leftside {
          width: 647px;
          min-height: 450px;
          margin: 0px 0px 35px 0px;
          &__overlay {
               width: 647px;
               min-height: 450px;
               padding: 100px;
          }
          &__title {
               font-size: 24px;
          }

          &__text {
               font-size: 20px;
          }
     }
}

@media (min-width: 768px) and (max-width: 991.9px) {
     .mainbg {
          padding: 0px 15px 0px 15px;
          max-width: 100%;
          min-height: 600px;
     }
     .mainbg-title {
          max-width: 370px;
          min-height: 162px;
          padding: 130px 0px 0px 0px;
          &__text {
               display: block;
               font-family: $fontfamily;
               font-weight: 700;
               font-size: 40px;
               line-height: 50px;
          }
          &__text:nth-child(2) {
               margin: 0px 0px 0px 60px;
          }
          &__text:nth-child(3) {
               margin: 0px 0px 0px 140px;
          }
     }
     .mainbg-subtitle {
          max-width: 780px;
          margin: 30px 0px 0px 0px;
          &__text {
               font-size: 16px;
               line-height: 20px;
          }
     }
     .invest {
          padding: 50px 0px 75px 0px;
     }
     .invest-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__one {
               margin: 0px 0px 25px 0px;
          }
     }
     .characters-wrapper {
          margin: 0px 15px 0px 15px;
          flex-direction: column;
          align-items: center;
     }
     .characters-title {
          margin: 0px 0px 20px 0px;
     }
     .characters-leftside {
          margin: 0px 0px 0px 0px;
          &__item1 {
               margin: 30px 0px 25px 0px;
          }
          &__item2 {
               margin: 0px 0px 100px 0px;
          }
          &__item1-title {
               margin: 0px 0px 10px 17px;
          }
          &__item2-title {
               margin: 0px 0px 10px 17px;
          }
     }
     .technologies-wrapper {
          flex-direction: column;
          align-items: center;
     }
     .technologies-leftside {
          width: 647px;
          min-height: 450px;
          margin: 0px 0px 35px 0px;
          &__overlay {
               width: 647px;
               min-height: 450px;
               padding: 100px;
          }
          &__title {
               font-size: 24px;
          }

          &__text {
               font-size: 20px;
          }
     }
}

@media (min-width: 480px) and (max-width: 767.9px) {
     .mainbg {
          padding: 0px 15px 0px 15px;
          max-width: 100%;
          min-height: 550px;
     }
     .mainbg-title {
          max-width: 370px;
          min-height: 162px;
          padding: 100px 0px 0px 0px;
          margin: 0 auto;
          text-align: center;
          &__text {
               display: block;
               font-weight: 700;
               font-size: 40px;
               line-height: 50px;
          }
          &__text:nth-child(2) {
               margin: 0px 0px 0px 0px;
          }
          &__text:nth-child(3) {
               margin: 0px 0px 0px 0px;
          }
     }
     .mainbg-subtitle {
          max-width: 430px;
          margin: 20px auto;
          &__text {
               font-size: 16px;
               line-height: 20px;
          }
     }
     .mainbg-button {
          margin: 0px 0px 0px 0px;
          &__button {
               margin: 30px auto;
          }
     }
     .invest {
          padding: 35px 0px 50px 0px;
     }
     .invest-title {
          margin: 0px 0px 25px 0px;
     }
     .invest-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__one {
               margin: 0px 0px 25px 0px;
          }
          &__two {
          }
     }
     .characters-wrapper {
          margin: 0px 15px 0px 15px;
          flex-direction: column;
          align-items: center;
     }
     .characters-title {
          margin: 0px 0px 0px 0px;
     }
     .characters-leftside {
          margin: 0px 0px 20px 0px;
          &__item1 {
               margin: 30px 0px 25px 0px;
          }
          &__item2 {
               margin: 0px 0px 50px 0px;
          }
          &__item1-title {
               margin: 0px 0px 10px 17px;
          }
          &__item2-title {
               margin: 0px 0px 10px 17px;
          }
     }
     .characters-rightside {
          &__item1 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item1-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item1-image-photo1 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }

          &__item1-title {
               text-align: left;
               margin: 0px 0px -2px 0px;
          }

          &__item1-text {
               text-align: left;
          }

          &__item2 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item2-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item2-image-photo2 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }

          &__item2-title {
               margin-left: 0;
          }

          &__item2-text {
               margin-left: 0;
          }

          &__item3 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item3-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item3-image-photo3 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }

          &__item4 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item4-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item4-image-photo4 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }

          &__item5 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item5-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item5-image-photo5 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }

          &__item6 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item6-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item6-image-photo6 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }

          &__item6-title {
               margin-left: 0;
          }

          &__item6-text {
               margin-left: 0;
          }

          &__item7 {
               align-self: center;
               margin: 0px 0px 50px 0px;
               max-width: 360px;
               min-height: 300px;
          }
          &__item7-image {
               width: 360px;
               height: 252px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item7-image-photo7 {
               width: 360px;
               height: 252px;
               object-fit: cover;
               border-radius: 40px;
               overflow: hidden;
          }
     }
     .technologies-wrapper {
          flex-direction: column;
          align-items: center;
     }
     .technologies-leftside {
          width: 460px;
          min-height: 350px;
          margin: 0px 0px 35px 0px;
          &__overlay {
               width: 460px;
               min-height: 350px;
               padding: 70px;
          }
          &__title {
               font-size: 20px;
          }

          &__text {
               font-size: 16px;
          }
     }
     .technologies-rightside {
          &__wrapper {
               flex-direction: column;
               align-items: center;
               margin: 0px 0px 25px 0px;
          }
          &__item:nth-child(1) {
               margin-right: 0;
          }
     }
}
@media (min-width: 319.9px) and (max-width: 479.9px) {
     .mainbg {
          padding: 0px 15px 0px 15px;
          max-width: 100%;
          min-height: 480px;
     }
     .mainbg-title {
          max-width: 370px;
          min-height: 162px;
          padding: 50px 0px 0px 0px;
          margin: 0 auto;
          text-align: center;
          &__text {
               display: block;
               font-weight: 700;
               font-size: 40px;
               line-height: 50px;
          }
          &__text:nth-child(2) {
               margin: 0px 0px 0px 0px;
          }
          &__text:nth-child(3) {
               margin: 0px 0px 0px 0px;
          }
     }
     .mainbg-subtitle {
          max-width: 700px;
          margin: 20px 0px 0px 0px;
          &__text {
               font-size: 16px;
               line-height: 20px;
          }
     }
     .mainbg-button {
          margin: 0px 0px 0px 0px;
          &__button {
               margin: 30px auto;
          }
     }
     .invest {
          font-size: 30px;
          padding: 35px 0px 30px 0px;
     }
     .invest-title {
          font-size: 26px;
          margin: 0px 0px 15px 0px;
     }
     .invest-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          &__one {
               margin: 0px 0px 25px 0px;
               width: 300px;
               min-height: 180px;
          }

          &__one-title {
               font-size: 20px;
          }

          &__one-button {
               max-width: 200px;
               min-height: 40px;
               padding: 0px 25px 0px 25px;
               margin: 0px 0px 0px 48px;
               font-size: 12px;
          }

          &__two {
               padding: 53px 0px 53px 0px;
               width: 300px;
               min-height: 180px;
          }

          &__two-title {
               font-size: 20px;
          }

          &__two-button {
               max-width: 220px;
               min-height: 40px;
               font-size: 12px;
               margin: 0px 0px 0px 45px;
               padding: 0px 20px 0px 20px;
          }
     }
     .characters-wrapper {
          margin: 0px 15px 0px 15px;
          flex-direction: column;
          align-items: center;
     }
     .characters-title {
          margin: 0px 0px 0px 0px;
          font-size: 26px;
     }
     .characters-leftside {
          margin: 0px 0px 20px 0px;
          &__item1 {
               margin: 30px 0px 25px 0px;
          }
          &__item2 {
               margin: 0px 0px 50px 0px;
          }
          &__item1-title {
               font-size: 18px;
               margin: 0px 0px 10px 70px;
          }
          &__item2-title {
               font-size: 18px;
               margin: 0px 0px 10px 70px;
          }
          &__item1-text {
               margin: 0 auto;
               max-width: 300px;
               font-size: 16px;
          }
          &__item2-text {
               margin: 0 auto;
               max-width: 300px;
               font-size: 16px;
          }
     }
     .characters-rightside {
          &__item1 {
               align-self: center;
               margin: 0px 0px 30px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item1-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item1-image-photo1 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }

          &__item1-title {
               text-align: left;
               margin: 0px 0px -2px 0px;
          }

          &__item1-text {
               text-align: left;
          }

          &__item2 {
               align-self: center;
               margin: 0px 0px 30px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item2-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item2-image-photo2 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }

          &__item2-title {
               margin-left: 0;
          }

          &__item2-text {
               margin-left: 0;
          }

          &__item3 {
               align-self: center;
               margin: 0px 0px 30px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item3-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item3-image-photo3 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }

          &__item4 {
               align-self: center;
               margin: 0px 0px 30px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item4-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item4-image-photo4 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }

          &__item5 {
               align-self: center;
               margin: 0px 0px 30px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item5-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item5-image-photo5 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }

          &__item6 {
               align-self: center;
               margin: 0px 0px 30px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item6-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item6-image-photo6 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }

          &__item6-title {
               margin-left: 0;
          }

          &__item6-text {
               margin-left: 0;
          }

          &__item7 {
               align-self: center;
               margin: 0px 0px 40px 0px;
               max-width: 300px;
               min-height: 250px;
          }
          &__item7-image {
               width: 300px;
               height: 204px;
               overflow: hidden;
               margin: 0px 0px 10px 0px;
          }

          &__item7-image-photo7 {
               width: 300px;
               height: 204px;
               object-fit: cover;
               border-radius: 30px;
               overflow: hidden;
          }
     }
     .technologies-wrapper {
          flex-direction: column;
          align-items: center;
     }
     .technologies-leftside {
          width: 290px;
          min-height: 230px;
          margin: 0px 0px 35px 0px;
          &__overlay {
               width: 290px;
               min-height: 230px;
               padding: 25px;
          }
          &__title {
               font-size: 16px;
          }

          &__text {
               font-size: 14px;
          }
     }
     .technologies-rightside {
          &__wrapper {
               flex-direction: column;
               align-items: center;
               margin: 0px 0px 25px 0px;
          }
          &__item:nth-child(1) {
               margin-right: 0;
          }
     }
}

@media (min-width: 319.9px) and (max-width: 991.9px) {
     .header-wrapper {
          margin: 0px 0px 0px 20px;
          justify-content: space-between;
          &__navigation {
               display: none;
          }
          &__enter {
               display: none;
          }
     }

     .menu-burger {
          display: block;
          position: relative;
          right: 20px;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          background-color: #4277ff;
          cursor: pointer;

          &__item {
               position: absolute;
               background-color: #fff;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               width: 30px;
               height: 3px;
          }
          &__item::before {
               content: "";
               position: absolute;
               background-color: #fff;
               left: 0;
               top: -10px;
               width: 30px;
               height: 3px;
          }
          &__item::after {
               content: "";
               position: absolute;
               background-color: #fff;
               left: 0;
               top: 10px;
               width: 30px;
               height: 3px;
          }
     }
     .menu-burger__active {
          transition: 0.5s all;
          &__item {
               background-color: transparent;
          }
          &__item::before {
               top: 0;
               transform: rotate(45deg);
          }
          &__item::after {
               top: 0;
               transform: rotate(-45deg);
          }
     }
}
