$fontfamily: "Mulish", sans-serif; //</Шрифт по умолчанию
$colordefault: #ec1f46; // цвет по умолчанию
$colorfontdefault: #333333; // Цвет шрифта по умолчанию
$fontsizedefault: 14px; // Размер шрифта по умолчанию
$widthdefault: 1110px; // Ширина контейнера
$bgcolor: #f5fafe; //цвет страницы по умолчанию
